.layout {
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-areas: "header" "main";
	margin: 0 auto;
	padding: 0 24px;
	width: 100%;
	max-width: 768px;
}

.header {
	grid-area: header;
	grid-template-columns: 1fr auto;
	align-content: top;
	gap: 8px;
	grid-template-areas: "title theme" "title  about";
	display: grid;
	position: sticky;
	top: 8px;
	height: fit-content;
	z-index: 9999;
}

.main {
	grid-area: main;
	display: grid;
	gap: 64px;
	margin-top: 64px;
}

.title {
	grid-area: title;
}

.theme {
	grid-area: theme;
	justify-self: center;
	width: fit-content;
	padding: 0 16px;
}

.about {
	grid-area: about;
	justify-self: center;
	width: fit-content;
}
